@charset "UTF-8";

div{
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #000;

    text-align: center;

    transition-duration: 1s;
}

div:hover{
    transition: box-shadow .5s, border-radius 2s, width 1s, height 1s;    
    transition-timing-function: ease;

    height: 180px;
    width: 180px;

    box-shadow: 5px 5px 5px #000;
    border-radius: 10px;
}